#Use for cloud MongoDB
MONGODB_URI=
MONGODB_LOCAL=
DATABASE_NAME=
PASSWORD_DB= 

#Config system base
FRONTEND_URL=
APP_HOST=
APP_PORT=
AUTHOR=
NODE_BUILD=
TRANSFER=

#Config jwt
JWT_ACCESS_SECRET=
#Config email sender
RESEND_API_KEY=
EMAIL_FROM=
EMAIL_FROM_NAME=

#Config Cloundinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
#Config Redis
REDIS_LOCAL=
#Config Calculate fee by GHN
REALISTIC_GRAM= #TÍNH BẰNG GRAM
TOKEN_API_GHN=
URL_API_GHN=
SHOP_ID=
GHN_SERVICE_TYPE_STANDARD=
GHN_SERVICE_TYPE_FAST
GHN_DEFAULT_SERVICE_TYPE_ID=
#config vnpay 
VNP_URL=
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_RETURN_URL= # VNPAY phải gọi về BE, không phải FE
VNP_LOCALE=
VNP_CURR_CODE=

# QDRANT
QDRANT_URL=   # nếu backend cũng chạy trong docker compose chung
# QDRANT_URL=http://localhost:6333  # nếu backend chạy trực tiếp trên máy
QDRANT_COLLECTION_FACE_ADVICE=
VOYAGE_API_KEY=
VOYAGE_EMBEDDING_MODEL=

GROQ_API_KEY=
GROQ_CHAT_MODEL=


GEMINI_API_KEY=